parameters:
	level: 5
	reportUnmatchedIgnoredErrors: false
	dynamicConstantNames:
		- DEBUG
		- INSTANCE_ID
	paths:
		- backend-php
	bootstrapFiles:
		- backend-php/load.php
	excludePaths:
		analyse:
		- backend-php/vendor
		- backend-php/library/Server/Manager/Custom.php
		- backend-php/library/Server/Manager/Whm.php
		- backend-php/data/cache (?)
		- '*/tests/*'
	universalObjectCratesClasses:
		- RedBeanPHP\SimpleModel
		- RedBeanPHP\OODBBean
	ignoreErrors:
		- '#^Function __trans not found\.$#'
		- '#^Function __pluralTrans not found\.$#'
		- '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
