<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
    bootstrap="tests-backend-php/Pest.php"
    cacheDirectory="cache/phpunit"
    executionOrder="depends,defects"
    failOnWarning="false"
    failOnRisky="false"
    failOnEmptyTestSuite="false"
    beStrictAboutOutputDuringTests="false"
    colors="true"
    testdox="true"
    testdoxSummary="true"
    displayDetailsOnTestsThatTriggerDeprecations="false"
    displayDetailsOnTestsThatTriggerWarnings="false"
    defaultTestSuite="Unit,Modules">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests-backend-php/Unit</directory>
    </testsuite>
    <testsuite name="Modules">
      <directory>backend-php/modules/*/tests/Unit</directory>
    </testsuite>
    <testsuite name="E2E">
      <directory>tests-backend-php/E2E</directory>
      <directory>backend-php/modules/*/tests/E2E</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">backend-php</directory>
    </include>
    <exclude>
      <directory suffix=".php">backend-php/vendor</directory>
      <directory suffix=".php">backend-php/data</directory>
    </exclude>
  </source>
</phpunit>
